
.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
    width: auto;
    height: 500px;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2rem;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.feed-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 2rem;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

@media (max-width: 720px) {
    .gallery-item{
        position: relative;
        flex: 1 0 22rem;
        color: #fff;
        cursor: pointer;
        width: 300px;
        height: 200px;
    }

    .gallery-image {
        margin-left: auto;
        margin-right: auto;
    }
}
