.signup-card {
  width: 50%;
}

.password-input {
  width: 50%;
}

.username-input {
  width: 50%;
}

.button-login {
  width: 50%;
}

@media (max-width: 576px) {
  .signup-card {
    width: 75%;
    display: block;
  }

  .password-input {
    width: 75%;
    display: block;
  }

  .username-input {
    width: 75%;
    display: block;
  }

  .button-login {
    width: 75%;
    margin-left: 200px;
  }


}
